.done
  min-height: 100vh
  padding-top: 130px
  display: flex
  align-items: center
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  .time-back
    display: flex
    align-items: center

    p
      color: white
      font-weight: 500
      font-size: 20px
      font-family: 'TT Norms',Arial,sans-serif


  .done-text
    text-align: center

    h3
      font-size: 28px
      font-weight: 600
      color: white
      letter-spacing: 1px
      margin-bottom: 15px
      font-family: 'TT Norms',Arial,sans-serif

    p
      font-size: 22px
      color: white
      font-weight: 300
      letter-spacing: 1px
      margin-bottom: 15px
      font-family: 'TT Norms',Arial,sans-serif