$text_color: #223b54
$text_color1: #3d3dce
$text_color2: #333333
$violet: #3d3dce
$text_order: #4776e6
$back_order_hover: #333333

$bg_color: #F8FAFF

$color2: #e7d885
$color3: #56c2f5

$text_button_color: white
$text_button_color_hover: rgba(228, 228, 228, 0.91)

$yellow_light:  #3d3dce
$yellow_hover: #3535ae
$blue_light: #0d369f
$blue_hover: #20389f


$yellow_box_shadow: #c7a052
$yellow_vs: #56c2f5
$yellow_box_shadow_hover: #FFE640


$box_shadow_light: 0 0 15px 0 rgba(0,0,0,.1)
$box_shadow_middle: 0 0 15px 0 rgba(0,0,0,.15)
$box_shadow_hard: 0 0 15px 0 rgba(0,0,0,.2)