@import "data"

@media only screen and (max-width: 1199px)
  .t

    h1

    h2

    h3

    h4

    h6

    p

  .order

    button

@media only screen and (max-width: 991px)
  .t

    h1
      font-size: 35px

    h2
      font-size: 22px

    h3
      font-size: 20px

    h4

    h6

    p

  .order

    button



@media only screen and (max-width: 575px)
  .list-slider
    max-width: 100%!important

  .list-slider, .list-slider-2

    .arrow-slider
      background-color: rgba(0,0,0,.3)
      border-radius: 100%
      bottom: auto
      height: 50px
      width: 50px
      top: 50%
      transform: translateY(-50%)

      i
        transition: .2s
        color: white

      &:focus

        i
          transition: .2s
          color: $color2

      &:hover

        i
          transition: .2s
          color: $color2

    .prev-arrow
      z-index: 20
      left: 0

    .next-arrow
      right: 0

    img
      max-width: 100%