@import "data"

body
  font-family: 'Montserrat', sans-serif


.bg
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 1
  background-color: rgba(0,0,0,.35)

.t
  display: flex
  flex-direction: column
  width: 100%

  h1
    font-weight: 700
    font-size: 45px
    line-height: 56px
    margin: 0 0 20px
    color: white

  h2
    font-weight: 700
    font-size: 30px
    margin: 0 0 15px
    line-height: 40px
    color: black

  h3
    font-size: 24px
    font-weight: 500
    color: black

  h4
    font-size: 22px
    font-weight: 500
    color: black

    span
      font-weight: 700

  h5
    font-size: 20px
    font-weight: 400

  h6
    font-size: 20px
    font-weight: 200
    font-style: italic

  p
    font-size: 15px
    line-height: 28px
    color: #777
    margin: 0 0 25px

  ul
    padding: 20px 0

    li
      font-size: 24px
      font-weight: 300

.order
  text-align: center

  h3
    font-size: 24px
    font-weight: 700
    color: black

  button
    outline: none
    text-transform: capitalize
    font-weight: 600
    line-height: 26px
    padding: 12px 30px
    border-radius: 27px
    border: 2px solid #fff

  .order-buttons

    button
      min-width: 215px
      margin-right: 15px

      &:first-child
        transition: .2s
        background-color: white
        color: $text_order

        &:hover
          transition: .2s
          background-color: transparent
          color: white

      &:last-child
        background-color: transparent
        text-transform: capitalize
        color: #fff
        font-weight: 600
        line-height: 26px
        padding: 12px 30px
        border-radius: 27px
        border: 2px solid #fff

        &:hover
          transition: .2s
          background-color: white
          color: $text_order



.slider, .team-slider, .video-slider, .list-slider, .portfolio-slider, .list-min-slider, .list-min-slider-2, .slider-nav, .slider-nav-second, .slider-for-second
  position: relative
  max-width: 100%

  img
    height: auto
    max-width: 100%

  .slick-dots
    bottom: -35px

    li

      button

        &:before
          content: ''
          border: 1px solid white
          width: 25px
          border-radius: 30px
          height: 8px
          transition: .2s
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.2)
          background-color: $yellow_light

      .active

        &:before
          transition: .2s
          background: $yellow_light
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.7)

  .arrow-slider
    border: 0
    outline: none
    position: absolute
    top: 0
    bottom: 10px
    padding: 0 15px
    border-radius: 4px
    transition: 2s
    background-color: transparent

    i
      font-size: 20px
      transition: .2s
      color: black

    &:hover
      transition: 2s

      i
        transition: .2s
        color: $yellow_light

  .prev-arrow
    z-index: 20
    left: -40px

  .next-arrow
    right: -40px
    z-index: 20


  .slick-slide
    margin: 0 10px
    margin-bottom: 10px

.check-list

  .check-item
    display: flex
    align-items: center
    margin-bottom: 25px

    img
      height: auto
      max-width: 60px

    p
      font-size: 20px
      font-weight: 400
      margin-left: 10px

    &:last-child
      margin-bottom: 0

.zoom-min-gallery, .zoom-gallery

  a
    cursor: pointer!important



@keyframes move1
  from
    top: 150px

  50%
    top: 200px

  to
    top: 150px

@keyframes move2
  from
    top: 60%

  50%
    top: 55%

  to
    top: 60%

@keyframes move3
  from
    transform: translateY(0)

  25%
    transform: translateY(-25px)

  75%
    transform: translateY(25px)

  to
    transform: translateY(0)

@keyframes move4
  from
    transform: translateY(0)

  25%
    transform: translateY(-15px)

  75%
    transform: translateY(15px)

  to
    transform: translateY(0)

@keyframes move5
  from
    transform: translateY(0)

  25%
    transform: translateY(-15px)

  75%
    transform: translateY(15px)

  to
    transform: translateY(0)










@import "main-media"
