@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .navbar

    .navbar-nav

      .nav-item

        .nav-link
          margin-right: 10px

@media only screen and (min-width: 992px)
  .navbar

    .navbar-nav

      .nav-item


@media only screen and (min-width: 1499px)
  .navbar

    .navbar-nav

      .nav-item

        .nav-link

@media only screen and (max-width: 1199px)
  .navbar

    .navbar-brand

      img
        max-width: 60px

@media only screen and (max-width: 991px)
  .navbar

    .navbar-nav

      .nav-item

        .nav-link
          display: inline-block

