.work {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
  background-color: #F8FAFF;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work .part-card {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  background-color: #e7d885;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  padding: 0;
  border-radius: 3px;
  margin: 10px 0;
  border: 1px solid #ebebeb;
}
.work .part-card .part-img {
  min-height: 200px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.work .part-card img {
  height: auto;
  max-width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.work .part-card h4 {
  padding-top: 15px;
  border-top: 1px solid #ebebeb;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin: 20px;
  color: #252525;
}
.work .part-card h5 {
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 0;
  margin: 25px auto;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
}
.work .part-card p {
  border-bottom: 1px solid #f2f2f2;
  padding: 8px 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
}
.work .part-card p i {
  color: #3d3dce;
  margin-right: 8px;
}
.work .t {
  text-align: left;
}
.work .t h2 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}
.work .t h4 {
  font-size: 24px;
}
.work .t h4 span {
  font-size: 22px;
}
.work .roadmap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.work .roadmap .roadmap-item {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.work .roadmap .roadmap-item .roadmap-number {
  display: block;
}
.work .roadmap .roadmap-item .roadmap-icon {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top-color: #3d3dce;
  border-right-color: #3d3dce;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: rotate(45deg);
}
.work .roadmap .roadmap-item .roadmap-icon span {
  display: block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 10px 40px rgba(165, 165, 165, 0.2);
  margin: auto;
  font-size: 24px;
  font-weight: 600;
  color: #7a7bd7;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotate(-45deg);
}
.work .roadmap .roadmap-item .roadmap-text {
  position: relative;
  background-color: #3d3dce;
  padding: 20px 20px;
  margin: 50px 0 51px;
  z-index: 1;
  border-radius: 5px;
  max-width: 388px;
}
.work .roadmap .roadmap-item .roadmap-text p:first-child {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: white;
}
.work .roadmap .roadmap-item .roadmap-text p:last-child {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 28px;
}
.work .roadmap .roadmap-item .roadmap-text:before {
  content: "";
  width: 20%;
  height: 15px;
  background: #3d3dce;
  position: absolute;
  top: 50%;
  left: -20%;
  z-index: -1;
  transform: translateY(-50%);
}

@media only screen and (min-width: 576px) {
  .work .part-card img {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .part-offer-3 {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .part-offer-3 {
    padding-bottom: 100px;
  }

  .work .part-card .part-img {
    min-height: 200px;
  }
  .work .t h2 {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1199px) {
  .work .part-card h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .part-offer .t {
    padding: 25px;
  }
  .part-offer .t h3 {
    font-size: 28px;
  }
  .part-offer .t h3 span {
    font-size: 24px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 575px) {
  .work .part-card h4 {
    font-size: 20px;
  }
  .work .part-card img {
    display: block;
  }
  .work .part-card .part-img {
    display: none;
  }
}

/*# sourceMappingURL=participate.css.map */
