@import "../../../../style/data"

.work
  overflow: hidden
  position: relative
  padding: 120px 0
  background-color: $bg_color
  display: flex
  align-items: center
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .part-card
    display: flex
    height: 100%
    flex: 1
    flex-direction: column
    background-color: $color2
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2)
    max-width: 360px
    padding: 0
    border-radius: 3px
    margin: 10px 0
    border: 1px solid #ebebeb

    .part-img
      min-height: 200px
      //min-width: 320px
      min-width: 100%
      background-repeat: no-repeat
      background-position: center
      background-size: cover

    img
      height: auto
      max-width: 100%
      border-top-left-radius: 2px
      border-top-right-radius: 2px

    h4
      padding-top: 15px
      border-top: 1px solid #ebebeb
      text-align: center
      font-weight: 400
      font-size: 20px
      margin: 20px
      color: #252525

    h5
      color: rgba(0,0,0,.8)
      padding-bottom: 0
      margin: 25px auto
      font-weight: 900
      font-size: 22px
      text-align: center

    p
      border-bottom: 1px solid #f2f2f2
      padding: 8px 0
      margin-bottom: 0
      font-size: 16px
      font-weight: 300
      display: flex
      align-items: flex-start

      i
        color: $yellow_light
        margin-right: 8px

  .t
    text-align: left

    h2
      text-align: center
      color: black
      margin-bottom: 30px

    h4
      font-size: 24px

      span
        font-size: 22px

  .roadmap
    padding: 60px 0
    position: relative
    overflow: hidden
    width: 100%

    .roadmap-item
      position: relative
      display: flex
      flex: 1
      width: 100%
      align-items: center
      justify-content: space-between

      .roadmap-number
        display: block
        
      .roadmap-icon
        width: 210px
        height: 210px
        border-radius: 50%
        border: 25px solid transparent
        border-top-color: $violet
        border-right-color: $violet
        margin: auto
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        z-index: 1
        transform: rotate(45deg)

        span
          display: block
          width: 110px
          height: 110px
          line-height: 110px
          border-radius: 50%
          background: #fff
          box-shadow: 0 10px 40px rgba(165,165,165,0.2)
          margin: auto
          font-size: 24px
          font-weight: 600
          color: #7a7bd7
          text-align: center
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          transform: rotate(-45deg)

      .roadmap-icon-left
        border-top-color: transparent
        border-right-color: transparent
        border-bottom-color: $violet
        border-left-color: $violet


      .roadmap-text
        position: relative
        background-color: $violet
        padding: 20px 20px
        margin: 50px 0 51px
        z-index: 1
        border-radius: 5px
        max-width: 388px
        width: 100%

        p

          &:first-child
            font-size: 20px
            font-weight: 600
            text-transform: capitalize
            margin: 0 0 15px
            color: white

          &:last-child
            color: rgba(255,255,255,0.7)
            font-size: 15px
            line-height: 28px
            
        &:before
          content: ""
          width: 20%
          height: 15px
          background: $violet
          position: absolute
          top: 50%
          left: -20%
          z-index: -1
          transform: translateY(-50%)

        &:after
          content: ""
          width: 20%
          height: 15px
          background: $violet
          position: absolute
          top: 50%
          right: -20%
          z-index: -1
          transform: translateY(-50%)

    .rmit
      margin-top: -19px

    .rmitb
      margin-top: -57px

    .rmitb2
      margin-top: -43px

    .rmitb3
      margin-top: -15px

    .rmitb4
      margin-top: -11px



@import "participate-media"