@import "../../../../style/data"

.form-modal

  .modal-body
    padding-top: 0

  .modal-dialog-centered
    justify-content: center

  .modal-content
    border-radius: 4px
    max-width: 370px

  .modal-header
    border-bottom: 0
    border-radius: 0

    .modal-title
      font-size: 20px
      font-weight: 700

  form

    input
      text-align: center
      display: block
      width: 100%
      max-width: 350px
      padding: 15px 10px
      border-radius: 25px
      font-size: 20px
      font-weight: 300
      border: 1px solid rgba(0,0,0,.1)
      color: black
      margin-bottom: 15px

      &::placeholder
        color: rgba(0,0,0,.7)

      &:hover
        border-color: $violet

      &:focus
        border-color: $violet
        -webkit-box-shadow: 0 6px 27px rgba(0,91,234,0.3)
        -ms-box-shadow: 0 6px 27px rgba(0,91,234,0.3)
        -moz-box-shadow: 0 6px 27px rgba(0,91,234,0.3)
        box-shadow: 0 6px 27px rgba(0,91,234,0.3)

    button
      padding: 13px 40px
      border-radius: 25px
      text-transform: uppercase
      -webkit-box-shadow: 0 6px 27px rgba(0,91,234,0.3)
      -ms-box-shadow: 0 6px 27px rgba(0,91,234,0.3)
      -moz-box-shadow: 0 6px 27px rgba(0,91,234,0.3)
      box-shadow: 0 6px 27px rgba(0,91,234,0.3)
      transition: .2s
      color: #fff
      background: $violet

      &:hover
        transition: .2s
        background-color: $back_order_hover


    .t
      padding: 30px 0

      p
        color: black
        font-weight: 700

    .order
      padding-top: 20px


@import "form-modal-media"