.first-scroll {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #F8FAFF;
  display: flex;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
}
.first-scroll .fs-img {
  animation: move3 4.5s linear infinite;
}
.first-scroll .circle1 {
  position: absolute;
  z-index: 0;
  left: 40px;
  top: 150px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation: move1 3.5s linear infinite;
}
.first-scroll .circle2 {
  position: absolute;
  z-index: 0;
  left: 30%;
  top: 60%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation: move1 3.5s linear infinite;
}
.first-scroll .circle3 {
  position: absolute;
  z-index: 0;
  right: 140px;
  top: 60%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation: move2 3.5s linear infinite;
}
.first-scroll .circle4 {
  position: absolute;
  z-index: 0;
  left: 45%;
  top: 150px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation: move2 3.5s linear infinite;
}
.first-scroll .ct {
  position: relative;
  z-index: 2;
}
.first-scroll .order {
  max-width: 700px;
  position: relative;
  text-align: left;
  z-index: 2;
  margin-top: 30px;
}
.first-scroll .order h3 {
  color: white;
  font-weight: 300;
  margin-bottom: 30px;
}
.first-scroll .order img {
  height: auto;
  max-width: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}
.first-scroll .order .arrow-design {
  position: absolute;
  top: 0;
  left: auto;
  z-index: 0;
  bottom: 0;
  right: 20%;
  width: 200px;
  background-color: rgba(231, 216, 133, 0.15);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.first-scroll .order .ard1 {
  right: 25%;
}
.first-scroll .order .ard2 {
  right: 50%;
}
.first-scroll .order .ard3 {
  right: 75%;
}
.first-scroll .t {
  max-width: 700px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.first-scroll .t h2 {
  color: #46C8F6;
}
.first-scroll .t-name {
  display: flex;
}
.first-scroll .t-name h4 {
  color: white;
  font-size: 32px;
  border-radius: 2px;
  font-weight: 500;
  background-color: rgba(0, 177, 86, 0.3);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.07);
  display: inline-block;
  padding: 15px;
  margin-bottom: 5px;
}
.first-scroll .t-name h5 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
.first-scroll .t-sub {
  width: auto;
  padding: 15px !important;
  box-shadow: none;
  border-radius: 2px;
  border: 0;
}
.first-scroll .t-sub h3 {
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.first-scroll .t-sub h3 span {
  color: white;
  text-shadow: none;
  font-weight: 900;
}
.first-scroll .t-sub p {
  color: white;
  margin-bottom: 0;
}
.first-scroll .bg {
  background-color: transparent;
}

.cos {
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

@media only screen and (min-width: 992px) {
  .first-scroll .t-sub {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .first-scroll .order h3 {
    font-size: 20px;
  }
  .first-scroll .t ul li {
    font-size: 16px;
  }
  .first-scroll .t-name {
    text-align: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .first-scroll {
    padding-top: 200px;
  }
  .first-scroll .order .order-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-scroll .order .order-buttons button {
    margin-bottom: 15px;
  }
  .first-scroll .order .order-buttons button:last-child {
    margin-bottom: 0;
  }
  .first-scroll .t {
    text-align: center;
  }
  .first-scroll .t h2 {
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .first-scroll .order {
    flex-direction: column;
  }
  .first-scroll .order .arrow-design {
    width: 150px;
  }
  .first-scroll .order .ard1 {
    right: auto;
    left: 0;
  }
  .first-scroll .order .ard2 {
    right: 50%;
    transform: translateX(50%);
  }
  .first-scroll .order .ard3 {
    right: 0;
  }
  .first-scroll .t {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .first-scroll .order .arrow-design {
    width: 100%;
    top: 0;
    bottom: 0;
    transform: rotateZ(90deg);
  }
  .first-scroll .order .ard1 {
    right: auto;
    left: 0;
  }
  .first-scroll .order .ard2 {
    display: none;
  }
  .first-scroll .order .ard3 {
    display: none;
  }
}

/*# sourceMappingURL=first-scroll.css.map */
