@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .first-scroll

    .order

    .t

      h1

      h2

      p

    .t-sub
      margin-bottom: 0

@media only screen and (min-width: 1200px)
  .first-scroll

    .order

    .t

      h1

      h2

@media only screen and (max-width: 1199px)
  .first-scroll

    .order

      h3
        font-size: 20px

    .t

      h1

      h2

      h3

      p

      ul

        li
          font-size: 16px

    .t-name
      text-align: center
      margin-top: 40px

@media only screen and (max-width: 991px)
  .first-scroll
    padding-top: 200px

    .order

      .order-buttons
        display: flex
        flex-direction: column
        align-items: center

        button
          margin-bottom: 15px

          &:last-child
            margin-bottom: 0

    .t
      text-align: center

      h1

      h2
        text-align: center
        width: 100%

      h3

      p


@media only screen and (max-width: 767px)
  .first-scroll

    .order
      flex-direction: column

      button

      .arrow-design
        width: 150px

      .ard1
        right: auto
        left: 0

      .ard2
        right: 50%
        transform: translateX(50%)

      .ard3
        right: 0

    .t
      padding-top: 50px

      h1

      h2

      h3

      p

    .t-name

      h4

      h5


@media only screen and (max-width: 575px)
  .first-scroll

    .order

      button

      .arrow-design
        width: 100%
        top: 0
        bottom: 0
        transform: rotateZ(90deg)

      .ard1
        right: auto
        left: 0

      .ard2
        display: none

      .ard3
        display: none


