.team {
  overflow: hidden;
  padding: 120px 0;
  background-color: white;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team .t {
  text-align: left;
}
.team .t h2 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}
.team .t h4 {
  font-size: 24px;
}
.team .t h4 span {
  font-size: 22px;
}
.team .part-card {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  padding: 0;
  margin: 0 auto;
  border-radius: 0;
}
.team .part-card hr {
  height: 1px;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.team .part-card .part-links {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.team .part-card .part-links a {
  margin-right: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  transition: 0.2s;
  text-decoration: underline;
}
.team .part-card .part-links a:hover {
  transition: 0.2s;
  text-decoration: none;
}
.team .part-card .part-links a:last-child {
  margin-right: 0;
}
.team .part-card h4 {
  padding-top: 15px;
  text-align: center;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}
.team .part-card h5 {
  text-align: center;
  padding: 0 10px;
  font-weight: 400;
  margin: 0 0 10px;
  font-size: 14px;
  color: #777;
}
.team .part-card h5 span {
  font-size: 20px;
  font-weight: 300;
}
.team .part-card p {
  margin-bottom: 0;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  padding: 10px;
}
.team .part-card p i {
  color: #3d3dce;
  margin-right: 8px;
}
.team .part-card .comm {
  font-style: italic;
  font-weight: 500;
}
.team .part-card .thumb {
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #3d3dce;
  padding: 5px;
  width: 180px;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 0 10px;
}
.team .part-card .thumb img {
  height: auto;
  max-width: 100%;
  border-radius: 100%;
}
.team .part-card:hover .thumb {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 8px solid #3d3dce;
}

@media only screen and (min-width: 992px) {
  .part-offer-3 {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .part-offer-3 {
    padding-bottom: 100px;
  }

  .team .t h2 {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1199px) {
  .team .part-card h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .part-offer .t {
    padding: 25px;
  }
  .part-offer .t h3 {
    font-size: 28px;
  }
  .part-offer .t h3 span {
    font-size: 24px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 575px) {
  .team .part-card h4 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=participate.css.map */
