@import "../../../../style/data"

.team
  overflow: hidden
  padding: 120px 0
  background-color: white
  display: flex
  align-items: center
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .t
    text-align: left

    h2
      text-align: center
      color: black
      margin-bottom: 30px

    h4
      font-size: 24px

      span
        font-size: 22px

  .part-card
    display: flex
    height: 100%
    flex: 1
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: 360px
    padding: 0
    margin: 0 auto
    border-radius: 0

    hr
      height: 1px
      width: 80%
      border-bottom: 1px solid rgba(0,0,0,.1)

    .part-links
      margin-top: auto
      display: flex
      justify-content: center
      align-items: center
      padding: 20px

      a
        margin-right: 15px
        cursor: pointer
        color: rgba(0,0,0,.6)
        font-size: 24px
        transition: .2s
        text-decoration: underline

        &:hover
          transition: .2s
          text-decoration: none

        &:last-child
          margin-right: 0

    h4
      padding-top: 15px
      text-align: center
      color: $text_color2
      font-size: 18px
      font-weight: 600
      margin: 0 0 10px

    h5
      text-align: center
      padding: 0 10px
      font-weight: 400
      margin: 0 0 10px
      font-size: 14px
      color: #777

      span
        font-size: 20px
        font-weight: 300

    p
      margin-bottom: 0
      font-weight: 300
      display: flex
      align-items: flex-start
      font-size: 18px
      padding: 10px

      i
        color: $yellow_light
        margin-right: 8px

    .comm
      font-style: italic
      font-weight: 500

    .thumb
      border-radius: 100%
      overflow: hidden
      display: inline-block
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      border: 2px solid #3d3dce
      padding: 5px
      width: 180px
      -webkit-transition: all 0.3s ease-in-out
      -ms-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      margin: 0 0 10px

      img
        height: auto
        max-width: 100%
        border-radius: 100%

    &:hover
      
      .thumb
        -webkit-transition: all 0.3s ease-in-out
        -ms-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        transition: all 0.3s ease-in-out
        border: 8px solid #3d3dce





@import "participate-media"